extends layout

block content
  h1.create-post-header Login
  form.create-post-form.log-in(action="" method="POST")
    label.label(for="username") Username:
    if errors&&!incorrect
        input.error#username(type="text" value=(username?username:"") name="username" required=true placeholder="username")
    else 
        input#username(type="text" value=(username?username:"") name="username" required=true placeholder="username")
    label.label(for="password") Password:
    if incorrect
        input#password.error(type="password" value=(password?password:"") name="password" required=true placeholder="password")
    else
        if errors
            input.error#password(type="password" value=(password?password:"") name="password" required=true placeholder="password")
        else  
            input#password(type="password" value=(password?password:"") name="password" required=true placeholder="password")
    if errors 
        for error in errors 
            p.error-msg #{error.msg}
    button.post-btn(type="submit") Submit

  p.sign-in-redirect Don't have an account?
    a(href='/sign-up') Sign up!

  