extends layout 

block content 
    h1.create-post-header Sign Up
        form.create-post-form(action="" method="POST")
            
            label.label(for="username") Username:
            if errors 
                input#username.error(value=(user?user.username:"") type="text" name="username" required=true placeholder="Username")
            else 
                input#username(value=(user?user.username:"") type="text" name="username" required=true placeholder="Username")
            label.label(for="password") Password:
            if !unmatch
                input#password( type="password" name="password" required=true placeholder="Password")
                input#confirmPassword(type="password" name="confirm" required=true placeholder="Confirm password")
            else 
                input#password.error( type="password" name="password" required=true placeholder="Password")
                input#confirmPassword.error(type="password" name="confirm" required=true placeholder="Confirm password")
            if errors
                for error in errors 
                    if(error.msg)
                        p.error-msg #{error.msg}
                    else 
                        p.error-msg #{error}
            button.post-btn Submit
    